.container_collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 38px;
  width: 100%;
}

@media (max-width: 768px) {
  .container_collapse {
    gap: 20px;
  }
}
