.contenair {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 415px;
}

.pictures {
  position: absolute;
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
.left-arrow {
  position: relative;
  left: 24px;
  z-index: 1;
  font-size: 100px;
  color: #fff;
}

.scale {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 25px;
}

.right-arrow {
  position: relative;
  right: 24px;
  z-index: 1;
  font-size: 100px;
  color: #fff;
}

@media (max-width: 768px) {
  .contenair {
    height: 255px;
  }

  .left-arrow {
    font-size: 25px;
    left: 5px;
  }

  .right-arrow {
    font-size: 25px;
    right: 5px;
  }
}
