.contenair {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 415px;
}

.pictures {
  position: absolute;
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
.left-arrow {
  position: relative;
  left: 24px;
  z-index: 1;
  font-size: 100px;
  color: #fff;
}

.right-arrow {
  position: relative;
  right: 24px;
  z-index: 1;
  font-size: 100px;
  color: #fff;
}

@media (max-width: 768px) {
}
