.collapse {
  width: 80%;
  border-radius: 5px;
}

.collapse__btn {
  font-family: Montserrat;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  padding: 10px 20px 10px 15px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  width: 100%;
  background: #ff6060;
  border: none;
  cursor: pointer;
}

.fa-chevron-up {
  padding-top: 7px;
}

.description {
  background: #f6f6f673;
  font-family: Montserrat;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}

.description-content {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.7s;
}

@media (max-width: 768px) {
  .collapse {
    width: 100%;
  }

  .collapse__btn {
    padding: 10px;
    height: 32px;
    font-size: 13px;
  }

  .descritpion {
    font-size: 12px;
  }

  .fa-chevron-up {
    padding-top: 1px;
  }
}
