.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  gap: 57px;
}

.link {
  font-family: Montserrat;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  border-bottom: #ffffff 1px solid;
}

.link:hover {
  border-bottom: solid black 1px;
}

@media (max-width: 768px) {
  .logo {
    width: 145px;
    height: 46px;
  }

  .nav-bar {
    gap: 26px;
  }
}
